@font-face {
    font-family: SFMada;
    src: url(../fonts/SFMada-Bold.otf);
}

@font-face {
    font-family: RowdiesLight;
    src: url(../fonts/Rowdies-Bold.ttf);
}

body {
    direction: rtl;
    font-family: SFMada;
}

.TopNav {
    height: fit-content;
}

.TopNav img {
    height: 100%;
    width: 200px;
}

.TopNav img.Logo {
    width: 350px;
}


.SectionTitle {
    font-size: 55px;
    font-weight: bolder;
}

.OrangeBg {
    background-color: #EA6852;
}

.MintGreenBg {
    background-color: #3b7b8b;
}

.OrangeText {
    color: #EA6852;
}

.OrangeBorders {
    border: 1px solid #EA6852;
}

.MintGreenText {
    color: #3b7b8b;
}

.WhiteBg {
    background-color: white;
}

.MintGreenBorders {
    border: 1px solid #3b7b8b;
}

.WhiteText {
    color: white;
}

.BlackText {
    color: black;
}

.paragraph {
    font-size: 20px;
    line-height: 35px;
}

.Texts {
    font-size: 25px;
    line-height: 45px;
}

.SmallText {
    font-size: 18px;
    line-height: 25px;
}

.BoldText {
    font-weight: bolder;
}
a:hover{
    color:  unset;
}
.BigRadiusBorders {
    border-radius: 20px;
}

.SmallRadiusBorders {
    border-radius: 5px;
}

button {
    transition: 0.3s ease all;
}

button:hover {
    filter: brightness(90%);
}

/***********
***********
Navbar
***********
***********/
nav.navbar {
    background-image: url(../images/NavbarBg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

nav.navbar ul li {
    margin-left: 15px;
}

nav.navbar ul li a {
    color: white;
    font-family: Lifta;
    font-weight: 600;
    font-size: 20px;
    transition: 0.2s ease all;
}

nav.navbar ul li a:hover {
    transform: scale(1.1);
    filter: brightness(90%);
    color: white;
}

/***********
***********
End Navbar
***********
***********/

/***********
***********
header
***********
***********/
header.header button.HeaderButton {
    background-color: transparent;
    border: none;
    background-image: url(../images/ButtonBg.png);
    background-size: contain;
    padding: 10px 40px;
    color: white;
    font-size: 25px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s ease all;
}

header.header button.HeaderButton:hover {
    transform: scale(1.1);
}

header.header .carousel-indicators button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #3b7b8b;
    margin-left: 10px;
}

/***********
***********
End header
***********
***********/

/***********
***********
About The Project
***********
***********/
section.AboutTheProject .MusicPattern {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url(../images/MusicPattern.png);
    background-size: contain;
    background-position: center center;
    filter: brightness(0) invert(1);
    opacity: 0.1;
}

/***********
***********
End About The Project
***********
***********/


/***********
***********
Gallery
***********
***********/

#Gallery .container-fluid, #Gallery .container-sm, #Gallery .container-md, #Gallery .container-lg, #Gallery .container-xl, #Gallery .container-xxl {
    max-width: 1920px;
}

#Gallery .container-fluid .Gallery-box, #Gallery .container-sm .Gallery-box, #Gallery .container-md .Gallery-box, #Gallery .container-lg .Gallery-box, #Gallery .container-xl .Gallery-box, #Gallery .container-xxl .Gallery-box {
    position: relative;
    display: block;
}

#Gallery .container-fluid .Gallery-box .Gallery-box-caption, #Gallery .container-sm .Gallery-box .Gallery-box-caption, #Gallery .container-md .Gallery-box .Gallery-box-caption, #Gallery .container-lg .Gallery-box .Gallery-box-caption, #Gallery .container-xl .Gallery-box .Gallery-box-caption, #Gallery .container-xxl .Gallery-box .Gallery-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: white;
    background: #3b7b8be6;
    transition: opacity 0.25s ease;
    text-align: center;
}

#Gallery .container-fluid .Gallery-box .Gallery-box-caption .project-category, #Gallery .container-sm .Gallery-box .Gallery-box-caption .project-category, #Gallery .container-md .Gallery-box .Gallery-box-caption .project-category, #Gallery .container-lg .Gallery-box .Gallery-box-caption .project-category, #Gallery .container-xl .Gallery-box .Gallery-box-caption .project-category, #Gallery .container-xxl .Gallery-box .Gallery-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}

#Gallery .container-fluid .Gallery-box .Gallery-box-caption .project-name, #Gallery .container-sm .Gallery-box .Gallery-box-caption .project-name, #Gallery .container-md .Gallery-box .Gallery-box-caption .project-name, #Gallery .container-lg .Gallery-box .Gallery-box-caption .project-name, #Gallery .container-xl .Gallery-box .Gallery-box-caption .project-name, #Gallery .container-xxl .Gallery-box .Gallery-box-caption .project-name {
    font-size: 1.2rem;
}

#Gallery .container-fluid .Gallery-box:hover .Gallery-box-caption, #Gallery .container-sm .Gallery-box:hover .Gallery-box-caption, #Gallery .container-md .Gallery-box:hover .Gallery-box-caption, #Gallery .container-lg .Gallery-box:hover .Gallery-box-caption, #Gallery .container-xl .Gallery-box:hover .Gallery-box-caption, #Gallery .container-xxl .Gallery-box:hover .Gallery-box-caption {
    opacity: 1;
}

#Gallery .container-fluid .Gallery-box .Gallery-box-caption, #Gallery .container-sm .Gallery-box .Gallery-box-caption, #Gallery .container-md .Gallery-box .Gallery-box-caption, #Gallery .container-lg .Gallery-box .Gallery-box-caption, #Gallery .container-xl .Gallery-box .Gallery-box-caption, #Gallery .container-xxl .Gallery-box .Gallery-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    background: #3b7b8be6;
    transition: opacity 0.25s ease 0s;
}

#Gallery .portfolio-box .portfolio-box-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #3b7b8bcb;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    opacity: 0;
    transition: 0.5s ease all;
}

#Gallery .portfolio-box {
    transition: 0.5s ease all;

}

#Gallery .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.carousel-control-prev, .carousel-control-next {
    transform: translateY(-50%);
    height: fit-content;
    background-color: white;
    width: fit-content;
    opacity: 1;
    padding: 15px;
    font-size: 20px;
}

#exampleModal .modal-dialog {
    max-width: 65%;
}

#exampleModal .modal-dialog .btn-close {
    background-color: white;
    opacity: 1;
    width: 25px;
    height: 25px;
}

/***********
***********
End Gallery
***********
***********/

/***********
***********
About Mohammed
***********
***********/
.AboutMohammed {
    background-image: url(../images/DivBg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.AboutMohammed .overlay {
    background-color: #3b7b8b8a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.AboutMohammed.BigMohammedPart, .AboutMohammed.BigMohammedPart .carousel-item {
    height: 75vh;
}

.AboutMohammed.BigMohammedPart .carousel-control-prev, .AboutMohammed.BigMohammedPart .carousel-control-next {
    transform: translateY(0);
    top: 50%;
}

.AboutMohammed.BigMohammedPart .carousel-item .Texts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/***********
***********
End About Mohammed
***********
***********/

/***********
***********
Video Part
***********
***********/
section.VideoPart .MoreAboutEvent svg{
    transition: 0.5s ease all;
}
section.VideoPart .MoreAboutEvent:hover svg{
    transform: translateX(-50px);
}
/***********
***********
End Video Part
***********
***********/


/***********
***********
Latest News
***********
***********/
section.LatestNews {
    text-decoration: none;
}

section.LatestNews .card {
    background-color: transparent;
    border: none;
    justify-content: space-between;
    background-color: white;
    transition: 0.5s ease all;
    opacity: 1;
    transform: scale(1);
    padding-right: 15px;
}

section.LatestNews .card:hover {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.445));
}


section.LatestNews .card .ImgContainer {
    width: 100%;
    height: fit-content;
    overflow: hidden;

}




section.LatestNews .BlogText {
    max-height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section.LatestNews .Time {
    opacity: 0.5;
    font-size: 16px !important;
}

/***********
***********
End Latest News
***********
***********/

/***********
***********
PArtenrs
***********
***********/
section.Partners .PArtnerPart {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}

/***********
***********
End PArtenrs
***********
***********/

/***********
***********
Our Talents
***********
***********/
section.OurTalents figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}

section.OurTalents figure>* {
    grid-area: 1/1;
    transition: .4s;
}

section.OurTalents figure figcaption {
    display: grid;
    align-items: end;
    font-size: 25px;
    font-weight: bold;
    color: white ;
    padding: .75rem;
    background: var(--c, #3b7b8b99);
    clip-path: inset(0 var(--_i, 100%) 0 0);

    margin: -1px;
}

section.OurTalents figure:hover figcaption {
    --_i: 0%;
}

section.OurTalents figure:hover img {
    transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
    section.OurTalents figure figcaption {
        -webkit-mask: none;
        color: #fff;
    }
}


/***********
***********
End Our Talents
***********
***********/

/***********
***********
Contact Us
***********
***********/
section.ContactUsForm input,section.ContactUsForm  select,section.ContactUsForm  textarea{
    direction: rtl;
    border: 1px solid #3b7b8b !important;
    box-shadow: none !important;
    color: black;
    outline: none !important;
}

/***********
***********
End Contact Us
***********
***********/


/***********
***********
footer
***********
***********/
footer.footer {
    background-image: url(../images/FooterBg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

footer.footer .BigText {
    font-size: 25px;
    color: white;
}

footer.footer .SmallText {
    color: white;
    font-size: 18px;
    line-height: 35px;
}

footer.footer .BigText .socialIcons a {
    margin-left: 15px;
    display: inline-block;
    transition: 0.3s ease all;
}

footer.footer .BigText .socialIcons a:hover {
    transform: scale(1.1);
    filter: brightness(90%);
}

/***********
***********
End footer
***********
***********/