@font-face {
    font-family: Lifta;
    src: url(../fonts/SFMada-Bold.otf);
}
@font-face {
    font-family: RowdiesLight;
    src: url(../fonts/Rowdies-Bold.ttf);
}
body{
    direction: rtl;
    font-family: Lifta;
}

.TopNav{
    height: fit-content;
}
.TopNav img{
    height: 100%;
    width: 200px;
}
.TopNav img.Logo{
    width: 350px;
}


.SectionTitle {
    font-size: 40px;
    color: #EA6852;
}
/***********
***********
Navbar
***********
***********/
nav.navbar{
    background-image: url(../images/NavbarBg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
nav.navbar ul li{
    margin-left: 15px;
}
nav.navbar ul li a{
    color: white;
    font-family: Lifta;
    font-weight: 200;
    font-size: 18px;
    transition: 0.2s ease all;
}
nav.navbar ul li a:hover{
    transform: scale(1.1);
    filter: brightness(90%);
    color: white;
}
/***********
***********
End Navbar
***********
***********/

/***********
***********
header
***********
***********/
header.header button.HeaderButton{
    background-color: transparent;
    border: none;
    background-image: url(../images/ButtonBg.png);
    background-size: contain;
    padding: 10px 40px;
    color: white;
    font-size: 25px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s ease all;
}
header.header button.HeaderButton:hover{
    transform: scale(1.1);
}
header.header .carousel-indicators button{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #3b7b8b;
    margin-left: 10px;
}

/***********
***********
End header
***********
***********/

/***********
***********
About The Project
***********
***********/

/***********
***********
End About The Project
***********
***********/


/***********
***********
footer
***********
***********/
footer.footer{
    background-image: url(../images/FooterBg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
footer.footer .BigText{
    font-size: 25px;
    color: white;
}
footer.footer .SmallText{
    color: white;
    font-size: 18px;
    line-height: 35px;
}
/***********
***********
End footer
***********
***********/